//text global color
$text-color: white;

//base components colors
$body-color: #26292B;

//header component colors
$header-background-color: #26292B;
$header-text-color: $text-color;
$header-links-hover-line-color: white;

//form control component colors
$form-contol-text-color: $text-color;
$from-control-background-color: midnightblue;
$from-control-background-shadow: #191B1C;
$form-control-submit-button-color: #292838;
$form-control-label-outline-color: white;

//about section component color
$about-section-text-color: $text-color;

//credits section component color
$credit-section-hidden-text-color: #292838;
$credit-section-show-text-color: $text-color;
$credit-section-footer-border-color: white;
$credit-section-text-color: $text-color;
$credit-section-links-hover-line-color: white;

//weather report component colors
$weather-report-text-color: $text-color;

//refresh button component colors

